.overflow {
  height: auto;
  width: 100%;

  .input-formulario {
    padding: 0 15px 0 15px;
    width: 100% !important;
  }

  .botao {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: start;
    margin-top: 10px;
  }

  .alinha {
    padding: 1%;
    margin: 1%;
  }

  .acoes {
    display: flex;
    align-items: center;
    justify-content: space-around;

    i {
      font-size: 14pt;
      cursor: pointer;

      .deletar {
        color: #ff0000;
      }

      .editar {
        color: #ffa500;
      }
    }
  }
}
